<!DOCTYPE html>

<html>
	<head>
		<title>Welcome to Angular.js</title>
		<script src="libs/jquery/dist/jquery.js"></script>
		<script src="libs/angular/angular.js"></script>
	</head>

	<body>
		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">
				MyCtrl: {{message}}
				<div my-dir="message" one-way="{{message | uppercase}}" rc-click="doSomething()"></div>
			</div>
		</div>

		<script>

			angular.module("MyApp", [])
				.directive("myDir", function() {

					return {
						scope: {
							msg: "=myDir",
							upperMsg: "@oneWay",
							clickMe: "&rcClick"
						},
						template: "MyDir: {{msg}}<br><input ng-model='msg'><br>{{upperMsg}}<button ng-click='clickMe()'>Click Me</button>",
						link: function(scope, element, attrs) {
							console.log("MyDir Link: " + scope.$id);
							console.log("MyDir Link Parent Scope: " + scope.$parent.$id);
						}
					};

				})
				.controller("MyCtrl", function($scope) {
					$scope.message = "Blimp";
					console.log("MyCtrl Scope Id: " + $scope.$id);

					$scope.doSomething = function() {
						console.log("I did it!");
					};

				});

		</script>
	</body>
</html>
