<!DOCTYPE html>

<html>
	<head>
		<title>Welcome to Angular.js</title>
	</head>

	<body>
		<div id="my-app">
			<div ng-controller="ParentCtrl">
				Parent Message: {{o.message}}<br>
				Parent Message: <input ng-model="o.message">
				<div ng-controller="ChildCtrl">
					Child Message: {{o.message}}<br>
					Child Message: <input ng-model="o.message">
				</div>
			</div>
		</div>
		<!--
		<script src="libs/jquery/dist/jquery.js"></script>
		<script src="libs/angular/angular.js"></script>
		<script src="js/app_init.js"></script>
		<script src="js/controllers/parent_ctrl.js"></script>
		<script src="js/controllers/child_ctrl.js"></script>
		<script src="js/app.js"></script>
		-->
		<script src="js/site.min.gz.js"></script>
	</body>
</html>
